body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}

canvas {
  background: white;
  touch-action: none;
}

#toolbar {
  position: fixed;
  top: 10px;
  left: 10px;
  background: white;
  padding: 10px;
  border-radius: 8px;
}
